*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    background-color: gray;
}

.container{
    width: 100vw;
    height: 28vh;
    border: solid black 5px;
    background-color: lightsteelblue;
    align-content: center;
    justify-content: center;
    display: block;
    

}
.option-container{
    display: flex;
    margin: 5px;
    width: 98vw;
    font-size: large;
    border: 3px solid black;
    background-color: white;

    
}
.option-prefix{
    padding: 5px;
    background-color: lightblue;
    color: cornsilk;
}
.option-text{
    padding: 5px 10px;
    background-color: white;
}


#question{
    height: 5vh;
    display: flex;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    
}





