*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    background-color: gray;
}

.container{
    width: 100vw;
    height: 28vh;
    border: solid black 5px;
    background-color: lightsteelblue;
    align-content: center;
    justify-content: center;
    display: block;
    

}
.option{
    margin: 5px;
    padding: 0x;
    border: solid black 2px;
    justify-content: center;
    width: fit-content;
    
}

#question{
    height: 5vh;
    display: flex;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    
}

.score-box{
    width: 100vw;
    height: 25vh;
    background-color: cadetblue;
    align-items: center;
    justify-content: center;
    padding: 5%;
    border: solid black 5px;
    
}

#progress-bar{
    width: 100%;
    background-color: darkgray;
    border: solid black;
}

#correct{
    width: 20%;
    height: 30px;
    background-color: rgb(51, 51, 129);
    text-align: center;
    line-height: 27px;
    color: whitesmoke;
    font-weight: bold;
    
}

#time{
    width: 100%;
    height: 30px;
    background-color: rgb(105, 29, 29);
    text-align: center;
    line-height: 27px;
    color: whitesmoke;
    font-weight: bold;
}

